[Unit]
Description=Check internet health periodically
Requires=vpn_health_checker.service

[Timer]
Unit=vpn_health_checker.service
# every minute
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target